<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>下班倒计时</title>
</head>
<body>
<div id="app">
    <el-row style="height: 60px;line-height: 60px">
        <el-col :span="12" :offset="4" style="font-size: 24px">
            <b>天天有盼头，天天不迷茫！</b>
        </el-col>
        <el-col :span="4" style="text-align: right">
            <el-button type="success" @click="addTimeTarget">添加新的倒计时</el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="16" :offset="4">
            <el-collapse v-model="activeNames">
                <el-collapse-item v-for="(item, index) in timeTargets" :name="index" v-if="item.effective == true">
                    <template slot="title">
                        <h3>
                            距离 {{item.time}} <span v-if="item.remark != ''">{{item.remark}}</span> 还有
                            <el-tag>{{item.day}}</el-tag> 天
                            <el-tag type="success">{{item.hour}}</el-tag> 时
                            <el-tag type="warning">{{item.minute}}</el-tag> 分
                            <el-tag type="danger">{{item.second}}</el-tag> 秒
                        </h3>
                    </template>
                    <div>
                        <img :src="item.imageUrl" alt="一张图片咧" border="0" v-if="item.imageUrl != ''"/>
                    </div>
                </el-collapse-item>
            </el-collapse>
        </el-col>
    </el-row>

    <el-dialog title="添加新的倒计时" width="30%" :visible.sync="dialogVisible">
        <el-form ref="dataForm" :model="dataForm" label-width="80px">
            <el-form-item label="选择时间">
                <el-time-picker v-model="dataForm.timeTarget" placeholder="任意时间点"
                                value-format="HH:mm" :picker-options="timePickerOptions">
                </el-time-picker>
            </el-form-item>
            <el-form-item label="选择日期">
                <el-date-picker v-model="dataForm.dateTarget" type="datetime" placeholder="倒计时日期"
                                value-format="yyyy-MM-dd HH:mm:ss" :picker-options="datePickerOptions">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="dataForm.remark"></el-input>
            </el-form-item>
            <el-form-item label="配图地址">
                <el-input v-model="dataForm.imageUrl"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="doAddTimeTarget">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script src="https://cn.vuejs.org/js/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                interval: null,

                activeNames: [],
                timeTargets: [
                    {
                        time: '11:30',
                        remark: '提前恰中午饭',
                        imageUrl: 'https://imgo.upan.cc/img2020/12/10/11/2020121009313502.jpg',
                    }, {
                        time: '12:00',
                        remark: '恰中午饭',
                        imageUrl: 'https://imgo.upan.cc/img2020/12/10/11/2020121009325104.jpg',
                    }, {
                        time: '17:00',
                        remark: '',
                        imageUrl: 'https://inews.gtimg.com/newsapp_bt/0/13908970909/1000',
                    }, {
                        time: '17:30',
                        remark: '标准下班',
                        imageUrl: 'http://tva1.sinaimg.cn/large/006APoFYly8grkavhavgog30dc0bfta0.gif',
                    }, {
                        time: '18:00',
                        remark: '',
                        imageUrl: 'https://biaoqingba.cn/wp-content/uploads/2018/04/622015017fe5c4c-3.jpeg',
                    }, {
                        time: '18:30',
                        remark: '',
                        imageUrl: '',
                    } ,{
                        time: dayjs().day(5).hour(17).minute(30).second(0).format("YYYY-MM-DD HH:mm:ss"),
                        remark: '周五下班跑路',
                        imageUrl: 'https://biaoqingba.cn/wp-content/uploads/2018/04/56a52742e434989-1.jpeg',
                    }, {
                        time: '2022-04-03',
                        remark: '清明节放假',
                        imageUrl: '',
                    }, {
                        time: '2022-04-30',
                        remark: '劳动节放假',
                        imageUrl: '',
                    }, {
                        time: '2022-06-03',
                        remark: '端午节放假',
                        imageUrl: '',
                    }, {
                        time: '2022-09-10',
                        remark: '中秋节放假',
                        imageUrl: '',
                    }, {
                        time: '2022-10-01',
                        remark: '国庆节放假',
                        imageUrl: '',
                    }, {
                        time: '2023-01-01',
                        remark: '元旦放假',
                        imageUrl: '',
                    }, {
                        time: '2023-01-21 17:30:00',
                        remark: '除夕放假',
                        imageUrl: '',
                    }
                ],

                dataForm: {
                    timeTarget: '',
                    dateTarget: '',
                    remark: '',
                    imageUrl: ''
                },
                datePickerOptions: {
                    disabledDate: (time) => {
                        return time.getTime() < new Date(new Date().toLocaleDateString()).getTime();
                    }
                }
            }
        },
        computed: {
            timePickerOptions() {
                return {
                    selectableRange: dayjs().format('HH:mm:ss') + " - 23:59:59"
                };
            },
        },
        created() {
            this.initTimeTargets();
            this.calcRemainingTimes();
        },
        mounted() {
            this.enableInterval();
        },
        methods: {
            initTimeTargets() {
                if (this.interval != null) {
                    clearInterval(this.interval);
                    this.interval = null;
                }

                let dateRegex = new RegExp(/^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/);
                let timeRegex = new RegExp(/^(20|21|22|23|[0-1]\d):[0-5]\d$/);
                let today = dayjs().format('YYYY-MM-DD');
                this.timeTargets.forEach(i => {
                    if (dateRegex.test(i.time)) {
                        i.fullTime = i.time + " 00:00:00";
                    } else if (timeRegex.test(i.time)) {
                        i.fullTime = today + " " + i.time + ":00";
                    } else {
                        i.fullTime = i.time;
                    }
                    i.effective = true;
                    i.day = 0;
                    i.hour = 0;
                    i.minute = 0;
                    i.second = 0;
                });
            },
            enableInterval() {
                this.interval = setInterval(() => {
                    this.calcRemainingTimes();
                }, 1000);
            },
            calcRemainingTimes() {
                let now = dayjs();
                let that = this;
                this.timeTargets.forEach((i, index) => {
                    if (dayjs(i.fullTime) - now < 0) {
                        i.effective = false;
                    } else {
                        let seconds = Math.floor((dayjs(i.fullTime) - now) / 1000);
                        i.second = seconds % 60;
                        let minutes = Math.floor(seconds / 60);
                        i.minute = minutes % 60;
                        let hours = Math.floor(minutes / 60);
                        i.hour = hours % 24;
                        i.day = Math.floor(hours / 24);
                        that.$set(that.timeTargets, index, i);
                    }
                });
            },
            refresh() {
                this.initTimeTargets();
                this.calcRemainingTimes();
                this.enableInterval();
            },

            addTimeTarget() {
                Object.keys(this.dataForm).forEach((key) => (this.dataForm[key] = ""));
                this.dialogVisible = true;
            },
            doAddTimeTarget() {
                let newTime = {
                    time: '',
                    remark: this.dataForm.remark,
                    imageUrl: this.dataForm.imageUrl
                }
                if (this.dataForm.timeTarget != '') {
                    newTime.time = this.dataForm.timeTarget;
                }
                if (this.dataForm.dateTarget != '') {
                    newTime.time = this.dataForm.dateTarget;
                }
                this.timeTargets.push(newTime);
                this.refresh();
                this.$message({
                    message: '添加成功！',
                    type: "success"
                });
                this.dialogVisible = false;
            }
        }
    })
</script>
</html>
